<meta charset="utf-8">
  <title>ONG AprodePerú</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='lib/nivo-slider/css/nivo-slider.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/owl.carousel.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/owl.transitions.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/venobox/venobox.css')}}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{{url_for('static',filename='css/nivo-slider-theme.css')}}" rel="stylesheet">

  <!-- Hoja de Estilos Principal -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet">