<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>404 :(</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Ups! La pagina que buscas no existe</h1>
            <p class="lead">Pero puedes intentar buscar desde  el Inicio</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/" role="button">Inicio</a>
          </div>
    </div>
</body>
</html>