<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layouts/head.html' %}
</head>
<body>
        <form method="POST">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Link de Imagen</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="link">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Titulo</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo">
                </div>
                <div class="form-group">
                        <label for="exampleFormControlInput1">descripcion</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="descripcion">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Contenido</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contenido"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Publicar</button>
        </form>

</body>
</html>