<div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center" >
            <h2 style="font-family:arial;">¿Qué es la ONG AprodePerú?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
								  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/sZYRWGi_nx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">Descripcion</h4>
              </a>
              <p>
                Somos una organización de la sociedad civil, sin fines de lucro (ONGD), privada, aconfesional y apartidista.
                Nuestro principal objetivo es contribuir en la Promoción del Desarrollo Humano, Social y Sostenible en el Perú, para lograr la integración social, la erradicación de la pobreza, la desigualdad y la falta de oportunidades para los peruanos.  
              </p>
              <ul>
                <li>
                  <i class="fa fa-check"></i><a href="/pagina/1">Saludo Institucional</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Filosofia</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Historia</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Marco Institucional</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Estructura Organizativa</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Base Social</a>
                </li>
                <li>
                  <i class="fa fa-check"></i><a href="#">Transparencia y calidad</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>