<div class="faq-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Información</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="faq-details">
          <div class="panel-group" id="accordion">
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                  <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                    <span class="acc-icons"></span>Idealist
                  </a>
                </h4>
              </div>
              <div id="check1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                  Únete a Nosotros, por un mundo mas justo y solidario, en APRODE PERÚ te esperamos para juntos ser parte de la solidaridad y la accion social para el Perú. Visita Nuestras Ofertas de Voluntariado y practicas  internacionales.  
                  </p>
                  <p>
                  <a class="btn btn-success">Ir a Nuestros Perfil de Idealist</a>
                </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                    <span class="acc-icons"></span> All for Good
                  </a>
                </h4>
              </div>
              <div id="check2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                  Ayuda y vive una Maravillosa expreciencia de accion social en las comunidades de Perú.  
                  </p>
                  <p>
                  <a class="btn btn-success">Ir a Nuestro Perfil de All for Good</a>
                </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                    <span class="acc-icons"></span>GlobalGiving
                  </a>
                </h4>
              </div>
              <div id="check3" class="panel-collapse collapse ">
                <div class="panel-body">
                  <p>
                   ¿Quieres ser parte del Programa de VOLUNTARIADO "Vivimos, Servimos"?
                   ¡Participa Ahora!
                  </p>
                  <p>
                  <a class="btn btn-success">Perticipar en las Campañas de GlobalGiving</a>
                </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
            <!-- Panel Default -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="check-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                    <span class="acc-icons"></span>GivingWay
                  </a>
                </h4>
              </div>
              <div id="check4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                   Ayuda Ahora... Con tu donación Haremos posibles muchos proyectos comunitarios y Así, estaremos juntos ayudando a mejorar nuestra Sociedad.
                  </p>
                  <p>
                    <a class="btn btn-success">Donar con GivingWay</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Panel Default -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="tab-menu">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#p-view-1" role="tab" data-toggle="tab">Documentos</a>
            </li>
            <li>
              <a href="#p-view-2" role="tab" data-toggle="tab">Perfil</a>
            </li>
            <li>
              <a href="#p-view-3" role="tab" data-toggle="tab">Memoria</a>
            </li>
            <li>
              <a href="#p-view-4" role="tab" data-toggle="tab">Ejes Tematicos</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="p-view-1">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Documentos Institucionales</h4>
                <p>
                <a class="btn btn-primary">Ver Documentación</a>
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-2">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Perfil Institucional</h4>
                <p>
                <a class="btn btn-primary"> Consultar Perfil</a>
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-3">
            <div class="tab-inner">
              <div class="event-content head-team">
                <h4>Memoria Institucional</h4>
                <p>
                <a class="btn btn-primary">Consultar La Memoria Intitucional</a>
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="p-view-4">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Nuestros Ejes Tematicos</h4>
                  <p>
                  <a class="btn btn-primary">Consultar Ejes Tematicos</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- end Row -->
  </div>
</div>